$fond: pink;

$font: center;

$border: solid black 1em;

$fondDiv: rgb(228, 204, 222);

$fontfamily: arial;

$grid: grid;

$gridcolumn: 1fr 1fr 1fr;

$gridrow: 1fr 1fr 1fr;

$col2: 2;
$row2: 2;

$col1: 1;
$row1: 1;

$col3: 3;
$row3: 3;