form{
    background-color: lightgrey;
    width: 400px;
    height: 250px;
    border: solid black 1px; 
}

h1, div:last-child{
    text-align: center;
}

.div1{
    margin-left: 30px;
    margin-bottom: 10px;
    
}

.div2{
    margin-left: 30px;
    margin-bottom: 10px;
}

.div3{
    margin-left: 30px;
}

.div4{
    margin-top: 20px;
    
}

/*.div1{background-color: red;}
.div2{background-color: green;}
.div3{background-color: blue;}
.div4{background-color: yellow;}*/

label[for="pseudo"],label[for="password"]{
    margin-right: 20px;
}

label[for="checkbox"]{
    margin-left: 10px;
}

.button{
    margin: 10px;
    padding: 5px;
    border: solid black 2px;
}

.button:hover{
    background-color: black;
    color: lightgrey;
}